.header {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  align-items: center;
}


.headerItem{
  margin-left: 6px;
}

.logo {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  margin-right: auto;
}

.contact-button {
  padding-right: 12px;
  padding-bottom: 3px;
}

.sex{
  padding-left: 8px;
}

.Dropdown-root {
  cursor: pointer;
  border: 1px;
  border-color: black;
  color: black;
  background-color: white;
  z-index: 99;
  padding-left: 10px;
}

.Dropdown-control {
  display: flex;
}

.Dropdown-menu {
  position: absolute;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  margin: 20px 0px 0px -22px;;
  padding: 0px 15px;
  z-index: 99;
}

.Dropdown-arrow {
  background-size: contain;
  background: url("../images/down-arrow.png") no-repeat;
  height: 20px;
  width: 20px;
  display: block;
}

.Dropdown-option {
  padding: 5px;
}

.Dropdown-placeholder{
  margin-bottom: 1px;
  white-space: nowrap;
}

.search {
  font-family: "Times New Roman","Times","serif";
  font-size: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  text-align: center;
}

input.search{
  height: 28px;
  width: 160px;
}

.search::placeholder {
  color: black;
}
.search:focus::placeholder {
  color:transparent;
}

.search:focus,
.search .focus, :hover {
  color: black;
  outline: 0;
}

.social-button a {
  padding-left: 4px;
}

.social-button img{
  width: 16px;
  height: 16px;
  padding: 7px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: -3px
}

.filters {
  display: flex;
  padding: 5px 8px 5px 12px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

