.info {
  font-family: "Oranienbaum","Times New Roman","serif";
  font-size: 18px;
  margin-top: 10%;
  margin-left: 15%;

  .logo {
    width: 100px;
    height: 100px;
    padding-right: 15px;
  }

  .pressLogo {
    height: 35px;
    padding-right: 20px;
  }

  p {
    padding: 15px 0;
  }

  a {
    line-height: 25px;
    white-space: nowrap;
    text-decoration: underline;
  }

  .partners {
    width: 500px;

    span + span:before {
      text-decoration: none;
      content: ", ";
    }
  }

  .footer {
    position: absolute;
    bottom: 20px;
  }
}
