.gridTitle {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  padding: 10px 0;
}
.models-wrapper {
  display: grid;
  grid-gap: 8px;
  grid-template: repeat(3, 340px) / repeat(3, 340px);

  .model {
    overflow: hidden;

    img{
      width: 340px;
      height: 340px;
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -webkit-transition: all 1s ease-out;
    }

    img:hover{
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }
}
