.react-swipeable-view-container{
  height: 100% !important;
}

.model-wrapper {
  padding: 1vh 0;
  display: flex;
  justify-content: center;

  .opened-image{
    padding-right: 20px;
    height: 87vh;
    min-height: 500px;
  }

  .column{
    display: flex;
    flex-direction: column;

    .model-name{
      font-size: 30px;
      font-family: 'Oswald', sans-serif;
    }

    img{
      width: 90px;
      padding: 2px;
      margin-top: 8px;
      border: 1px solid #FFFFFF;

      .bordered{
        border: 1px solid #000000;
      }
    }

    img:hover{
      border: 1px solid #000000;
      cursor: zoom-in;
    }

    .parameters{
      margin-top: 10px;

      p{
        margin: 3px 0 0 3px;
      }
    }
  }
}

.contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .item {
    display: flex;
    flex-direction: column;
    padding: 1vh;

    span {
      margin-top: 2px;
    }
  }

  img{
    height: 90vh;
    max-width: 1000px;
    align-self: left;
  }
}

.arrow {
  height: 30px;
  width: 30px;
  position: fixed;
  display:flex;
  justify-content: center;
  margin-top: -30px;
  height:100%;
}

.prev-arrow {
  background: url("../images/prev-arrow.png") center center no-repeat;
  display:flex;
  cursor: w-resize;
  z-index: 98;
  left: 5%;
}

.next-arrow {
  background: url("../images/next-arrow.png") center center no-repeat;
  right: 0%;
  display:flex;
  cursor: e-resize;
  z-index: 98;
  right: 5%;
}

.react-swipeable-view-container > div {
  overflow-y: auto !important;
}
