<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LUMPEN</title>
  <meta name="description" content="Lumpen is an agency with an extensive casting base comprised of exclusive Russian faces coming from all over the globe. Founded and launched by Avdotja Alexandrova in 2014.">
  <meta name="keywords" content="lumpen Lumpenmen lumpenwomen модельное агенство model agency avdotja alexandrova egor chemokhonenko">
  <meta property="og:image" content="https://api.lumpen.agency/logo.png">
  <link rel="icon" type="image/png" href="https://api.lumpen.agency/logo.png" />
  <link rel="image_src" href="https://api.lumpen.agency/logo.png">
</head>
<body>
  <div id="root"></div>
</body>
</html>
