<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LUMPEN</title>
  <meta name="keywords" content="lumpen Lumpenmen lumpenwomen модельное агенство model agency avdotja alexandrova egor chemokhonenko">
  <meta property="og:image" content="https://lumpen.ams3.digitaloceanspaces.com/logo.png">
  <link rel="image_src" href="https://lumpen.ams3.digitaloceanspaces.com/logo.png">
</head>
<body>
  <div id="root"></div>
</body>
</html>
