<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LUMPEN</title>
  <meta property="og:updated_time" content="1528595711"><meta property="og:title" content="LUMPEN">
  <meta property="og:site_name" content="lumpen.agency">
  <meta property="og:url" content="http://lumpen.agency/">
  <meta property="og:image" content="http://lumpen.agency/b87e8fd7c0fd4f7a42d1bc9f8727843f.png">
  <link rel="image_src" href="http://lumpen.agency/b87e8fd7c0fd4f7a42d1bc9f8727843f.png">
  <meta name="description" content="nur die Lumpen sind bescheiden. Lumpen is an agency with extensive casting base of exclusive Russian faces from all over the world.">
  <meta name="keywords" content="lumpen Lumpenmen lumpenwomen модельное агенство model agency avdotja alexandrova egor chemokhonenko">
</head>
<body>
  <div id="root"></div>
</body>
</html>
