a {
  color: black !important;
  text-decoration: none !important;
}

.wrapper {
  font-family: "Times New Roman","Times","serif";
  font-size: 17px;
  max-width: 1035px;
  min-width: 700px;
  padding: 9px;
  margin: 0 auto ;
  color: black;
}
