
a {
  color: black;
  text-decoration: none;
}

.wrapper {
  font-family: "Times New Roman","Times","serif";
  font-size: 17px;
  max-width: 1035px;
  min-width: 700px;
  margin: 0 auto;
  color: black;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
}
