
a {
  color: black;
  text-decoration: none;
}

.wrapper {
  font-family: "Times New Roman","Times","serif";
  font-size: 17px;
  max-width: 1035px;
  min-width: 700px;
  margin: 0 auto;
  color: black;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
