@media (max-width:1028px) {
  .wrapper {
    width: 95%;

    .model-wrapper {
      .opened-image {
        height: auto;
      }
    }

    .contents {
        img{
          height: auto;
          width: auto;
        }
      }

    .models-wrapper {
      .model {
        img{
          width: auto;
          height: auto;
        }
      }

      grid-template: repeat(2, 50%) / repeat(2, 50%);
      margin-top: 5px;
    }
  }
}
