@media (max-width:1028px) {
  .header {
    flex-wrap: wrap;
  }

  .filters {
    order: 99;
    margin: 5px 150px;
  }

  .wrapper {
    width: 95%;
    font-size: 20px;

    .model-wrapper {
      .model-name{
        font-size: 40px;
      }

      .opened-image {
        width: 620px;
        height: 900px;
      }
    }

    .contents {
      img{
        width: 100%;
        max-height: unset;
      }
    }

    .models-wrapper {
      grid-template-columns: repeat(2, 49.5%);
      grid-auto-rows: unset;

      .model {
        img:hover{
          -webkit-transform: none;
          -moz-transform: none;
          -o-transform: none;
        }
      }
    }
  }

  .Dropdown-menu {
    font-size: 40px;
    width: 95%;
    left: 4%;
    padding: 0 0;
  }

  .Dropdown-option {
    text-align: center;
  }

  .contacts {
    margin-left: 5%;
    font-size: 22px;
  }
}
